<p>Hello <%= @resource.name %>!</p>

<p>Your account has been set up on Event System. Please click the link below to set your password and get started.</p>

<p><%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't expect this email, please ignore it.</p>
<p>Your password won't be set until you access the link above.</p>
